{{#partial "tableBody"}}

                <td width="275" align="left" valign="top" style="padding:0px 10px;">
                    <table width="275" align="left" border="1" bordercolor="#000000" cellpadding="1" cellspacing="0" dir="ltr" style="word-wrap:break-word;cursor:auto;color:#000000;font-family:Cabin, sans-serif;font-size:14px;line-height:20px;text-align:center;">
                        <tr bgcolor="#fd512f">
                            <th scope="col">
                                 Type
                            </th>
                            <th scope="col">
                                Version
                            </th>
                        </tr>
                        <tr >
                            <td>
                                Current:&#xA0;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Future:&#xA0;
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </td>

                <td width="275" align="right" valign="top" style="padding:0px 10px;">
                    <table width="275" align="right" border="1" cellpadding="1" cellspacing="0" dir="ltr" style="word-wrap:break-word;cursor:auto;color:#000000;font-family:Cabin, sans-serif;font-size:14px;line-height:20px;text-align:center;">
                        <tr bgcolor="#fd512f">
                            <th scope="col">
                                Entities
                            </th>
                        </tr>
                        <tr >
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </td>

{{/partial}}

{{> defaultHtml/reactiveTable}}