
{{> css/responsiveStyle}}

<!--[if !mso]><!-->
      <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css">
      <style type="text/css">
            @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
            @import url(https://fonts.googleapis.com/css?family=Cabin);
            @import url(https://fonts.googleapis.com/css?family=Bitter);
      </style>
<!--<![endif]-->
<style type="text/css">
    @media only screen and (min-width:480px) {
        .mj-column-per-100 { width:100%!important; }
        .mj-column-per-50 { width:50%!important; }
        .mj-column-per-33 { width:33.333333333333336%!important; }
        }
</style>